In [43]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [44]:
movies=pd.read_csv("/content/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [45]:
ratings=pd.read_csv("/content/ratings.csv")
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [46]:
ratings=ratings.drop("timestamp",axis=1)
ratings.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [47]:
#pivot table
movies_users=ratings.pivot(index="movieId",columns='userId',values="rating").fillna(0)
movies_users.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
from scipy.sparse import csr_matrix
my_movies=csr_matrix(movies_users.values)
my_movies

<9724x610 sparse matrix of type '<class 'numpy.float64'>'
	with 100836 stored elements in Compressed Sparse Row format>

In [49]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(metric="cosine",algorithm="brute",n_neighbors=6)
model.fit(my_movies)
#brute or auto =algorithm

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=6)

In [50]:
#COSINE SIMILARITY BETWEEN TWO VECTORS LIKE x1&x2 or x2&x3

# Compute the cosine similarity between users

from sklearn.metrics.pairwise import cosine_similarity
user_similarity = cosine_similarity(movies_users.fillna(0))

In [70]:
# Function to make movie recommendations for a given user
def recommend_movies(movie_id, n_neighbors=5):
    _, indices = model.kneighbors(my_movies[movie_id - 1].reshape(1, -1), n_neighbors=n_neighbors + 1)
    recommended_movie_indices = indices.flatten()[1:]
    recommended_movies = movies[movies['movieId'].isin(recommended_movie_indices)]['title'].unique()
    return recommended_movies


movie_id = 6789
recommendations = recommend_movies(movie_id)
print(f"Top 5 movie recommendations for movieId {movie_id}:")
for movie in recommendations:
    print(movie)

Top 5 movie recommendations for movieId 6789:
Sansho the Bailiff (Sanshô dayû) (1954)

In [78]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics.pairwise import cosine_similarity


movies = pd.read_csv("/content/movies.csv")
ratings = pd.read_csv("/content/ratings.csv")


ratings = ratings.drop("timestamp", axis=1)


movies_users = ratings.pivot(index="movieId", columns='userId', values="rating")
user_similarity = cosine_similarity(movies_users.fillna(0))

#user_similarity = csr_matrix(movies_users.values)


#model = NearestNeighbors(metric="cosine", algorithm="brute", n_neighbors=6)
#model.fit(user_similarity)




def recommend_movies(movie_id, n_neighbors=5):
    _, indices = model.kneighbors(user_similarity[movie_id - 1].reshape(1, -1), n_neighbors=n_neighbors + 1)
    recommended_movie_indices = indices.flatten()[1:]
    recommended_movies = movies[movies['movieId'].isin(recommended_movie_indices)]['title'].unique()
    return recommended_movies


movie_id = 56
recommendations = recommend_movies(movie_id)
print(f"Top 5 movie recommendations for movieId {movie_id}:")
for movie in recommendations:
    print(movie)

Top 5 movie recommendations for movieId 56:
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
Chungking Express (Chung Hing sam lam) (1994)
Death and the Maiden (1994)
Philadelphia (1993)